body {
	background-color: #1b1b1b;
 }
.container {
	background-color: #1b1b1b;
}

.background img{
    margin-top: 10px;
    margin-left: 430px;
    position: relative;
    display: block;
}
/* the player avatar */
.plate {
    width: 140px;
    height: 80px;
    top: 580px;
    left: 680px;
    padding: 0px;
    border: 1px solid white;
    background-repeat: no-repeat;
    position: absolute;
    background-image: url(./images/plateBun.png);
}

.lettuce {
	top: 0px;
    padding: 0px;
	width: 105px;
	height: 57px;
	background-repeat: no-repeat;
	background-image: url(./images/lettuce.png);

	border: 1px solid red;
	position: absolute;
}

.cheese {
	top: 0px;
	width: 105px;
	height: 57px;
	background-repeat: no-repeat;
	background-image: url(./images/cheese.png);
	border: 1px solid red;
	position: absolute;
}

.meat {
	top: 0px;
	width: 105px;
	height: 57px;
	background-repeat: no-repeat;
	background-image: url(./images/meatPatty.png);
	border: 1px solid red;
	position: absolute;
}

.tomato {
	top: 0px;
	width: 105px;
	height: 57px;
	background-repeat: no-repeat;
	background-image: url(./images/tomato.png);
	border: 1px solid red;
	position: absolute;
}

.topBun {
	top: 0px;
	width: 105px;
	height: 57px;
	background-repeat: no-repeat;
	background-image: url(./images/bun_top.png);
	border: 1px solid red;
	position: absolute;
}

.chilliBomb {
	top: 0px;
	width: 105px;
	height: 57px;
	background-repeat: no-repeat;
	background-image: url(./images/chilliBomb.png);
	border: 1px solid red;
	position: absolute;
}

.rect1{
	top: 20px;
	left: 32px;
	border: 1px solid red;
	position: relative;
	width: 80px;
	height: 30px;
}

.rect2{
	top: 15px;
	left: 9px;
	border: 1px solid blue;
	position: relative;
	width: 85px;
	height: 20px;
}

/*#start {
	top: 300px;
	width: 315px;
	height: 182px;
	display: inline;
	background-image: url(./images/startButton.png);
	background-repeat: no-repeat;
}*/
