body {
	background-color: #1b1b1b; 
 }
.container {
	background-color: #1b1b1b;
}

.background img{
    margin-top: 10px;
    margin-left: 500px;
    position: relative;
    display: block;
}
/* the player avatar */
.plate {
	width: 270px;
    height: 150px;
    top: 600px;
    left: 730px;
    background-repeat: no-repeat;
    position: absolute;
    background-image: url(./images/plateBun.png);
}





