body {
	background-color: #1b1b1b;
 }
.container {
	background-color: #1b1b1b;
}

.background {
	height:680px;
	width: 581px;
    margin-top: 10px;
    margin-left: 430px;
    position: relative;
    display: block;
    background-image: url(./images/gameBG.png);
}

.score {
	height:680px;
	width: 581px;
	margin-top: 10px;
    margin-left: 430px;
    position: relative;
    display: block;
    background-image: url(./images/scorePage.png);
    background-repeat: no-repeat;
}

.number {
	margin-left: 250px;
	position: absolute;
    top: 300px;
	text-align: center;
	font-size: 60px;
	font-family: Futura;
	color: #fffbb7;
}

.splash {
	height:680px;
	width: 581px;
	margin-top: 10px;
    margin-left: 430px;
    position: relative;
    display: block;
    background-image: url(./images/splashPage.png);
    background-repeat: no-repeat;
}

.ins01 {
	height:680px;
	width: 581px;
	margin-top: 10px;
    margin-left: 430px;
    position: relative;
    display: block;
    background-image: url(./images/instruction01.jpg);
    background-repeat: no-repeat;
}

.ins02 {
	height:680px;
	width: 581px;
	margin-top: 10px;
    margin-left: 430px;
    position: relative;
    display: block;
    background-image: url(./images/instruction02.jpg);
    background-repeat: no-repeat;
}

.ins03 {
	height:680px;
	width: 581px;
	margin-top: 10px;
    margin-left: 430px;
    position: relative;
    display: block;
    background-image: url(./images/instruction03.jpg);
    background-repeat: no-repeat;
}

.ins04 {
	height:680px;
	width: 581px;
	margin-top: 10px;
    margin-left: 430px;
    position: relative;
    display: block;
    background-image: url(./images/instruction04.jpg);
    background-repeat: no-repeat;
}

.click {
	height:80px;
	width: 132px;
	padding-left: 420px;
    padding-top: 550px;
}

.start {
	height:315px;
	width: 182px;
	padding-top: 250px;
    padding-left: 200px;
}

/* the player avatar */
.plate {
    width: 140px;
    height: 80px;
    top: 580px;
    left: 250px;
    padding: 0px;
    border: 1px solid;
	border-color: rgba(255, 0, 0, 1);
    background-repeat: no-repeat;
    position: absolute;
    background-image: url(./images/plateBun.png);
}

.lettuce {
	top: 0px;
    padding: 0px;
	width: 105px;
	height: 57px;
	background-repeat: no-repeat;
	background-image: url(./images/lettuce.png);
	border: 1px solid (255, 0, 0, 1);
	position: absolute;
}

.cheese {
	top: 0px;
	width: 105px;
	height: 57px;
	background-repeat: no-repeat;
	background-image: url(./images/cheese.png);
	border: 1px solid;
	border-color: rgba(255, 0, 0, 1);
	position: absolute;
}

.meat {
	top: 0px;
	width: 105px;
	height: 57px;
	background-repeat: no-repeat;
	background-image: url(./images/meatPatty.png);
	border: 1px solid;
	border-color: rgba(255, 0, 0, 0);
	position: absolute;
}

.tomato {
	top: 0px;
	width: 105px;
	height: 57px;
	background-repeat: no-repeat;
	background-image: url(./images/tomato.png);
	border: 1px solid;
	border-color: rgba(255, 0, 0, 0);
	position: absolute;
}

.topBun {
	top: 0px;
	width: 105px;
	height: 57px;
	background-repeat: no-repeat;
	background-image: url(./images/bun_top.png);
	border: 1px solid;
	border-color: rgba(255, 0, 0, 0);
	position: absolute;
}

.chilliBomb {
	top: 0px;
	width: 105px;
	height: 57px;
	background-repeat: no-repeat;
	background-image: url(./images/chilliBomb.png);
	border: 1px solid;
	border-color: rgba(255, 0, 0, 0);
	position: absolute;
}

.rect1{
	top: 20px;
	left: 32px;
	border: 1px solid;
	border-color: rgba(255, 0, 0, 1);
	position: relative;
	width: 80px;
	height: 30px;
}

.rect2{
	top: 15px;
	left: 9px;
	border: 1px solid;
	border-color: rgba(255, 0, 0, 1);
	position: relative;
	width: 85px;
	height: 20px;
}

/*#start {
	top: 300px;
	width: 315px;
	height: 182px;
	display: inline;
	background-image: url(./images/startButton.png);
	background-repeat: no-repeat;
}*/
